title= this.title

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

each hreflang in this.hreflangs
  link(rel="alternate" hreflang=hreflang['lang'] href=hreflang['href'])

each stylesheet in this.stylesheets
  link(href=stylesheet['href'] rel="stylesheet" media=stylesheet['media'] type="text/css")

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

if this.tkenabled
    script(src="#{this.tkurl}")
    script try{Typekit.load({ async: #{this.tkasync} });}catch(e){}
block pageHead
